    body {
        font-family: monospace, sans-serif;
        font-size: 1.5rem;
    }

    .main-wrapper {
        display: flex;
    }

    .centered {
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        flex-direction: column;
    }

    .word {
        margin-right: 0.3rem;
    }

    input[type="text"] {
        font-size: 2rem;
        font-family: monospace, sans-serif;
    }

    .textbox {
        margin: 2rem;
    }

    #input {
        padding: 2rem;
        margin: 2rem;
        text-align: center;
    }

    #displayWhenDone {
        display: none;
        flex-direction: column;
    }

    button {
        margin-top: 2rem;
        font-family: monospace;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2rem;
        background: #fcfcfc;
        border-radius: 1rem;
    }
